<?xml version='1.0' encoding='utf-8'?>
<widget id="com.camlinschool.cordova" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Camlin School</name>
    <description>Camlin School App</description>
    <author email="abhilashhm15@gmail.com" href="#">
        Abhilash H M
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/images/school_logo.jpeg" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="scheme" value="https" />
    <preference name="hostname" value="localhost" />
    <splash src="res/splashscreen.png" />
    
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="deployment-target" value="14.0" />
</widget>